
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
<<<<<<< HEAD
=======
}

ul {
    padding: 0;
    list-style-type: none;
>>>>>>> 74bda72eb2a9421a161b6e450ca5e4761f4d9b3f
}

header {
    padding: 1.5em 0;
    flex-wrap: wrap;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    background-color: #10316b;
}

header > h1 {
    margin: auto 0;
    font-family: 'Righteous', cursive;
}

header > h1 > a {
    text-decoration: none;
    color: #e25822;
}

#nav {
    display: flex;
    flex-wrap: wrap;
}

#nav > li {
    list-style: none;
    margin: auto 2em;
}

@media only screen and (max-width: 570px) {
    #nav > li {
        margin: 0 1em 0 0;
    }
}

#nav > li > a {
    text-decoration: none;
    color: #ececeb;
}

#nav > li > a:hover {
    color: #e25822;
}

#flags {
    display: flex;
    flex-direction: row;
}

#flags > li {
    list-style: none;
    margin: 5px;
}

.flex-container {
    margin-top: 2em;
    padding: 0 2em;
    flex-wrap: wrap;
    display: flex;
}

@media only screen and (max-width: 440px) {
    .flex-container {
        padding: 0;
    }
}

.flex-child-info {
    list-style-type: none;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #222;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    min-width: 400px;
    margin: 2em auto;
}

.flex-child-map {
    flex: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 20px;
    height: 60vh;
    min-width: 400px;
    width: 100%;
    height: 88vh;
    margin: auto;
}

.flex-child-info > ul {
    list-style-type: none;
    line-height: 200%;
}

<<<<<<< HEAD

.flex-container {
    display: flex;
}

.flex-child-info {
    flex: 1;
    border: 2px solid red;
    list-style-type: none;
    background: #ececeb;
    color: #e25822;
    text-align: left;
    font-size: 22px;
    margin: 3px;
    min-width: 400px;
}

.flex-child-map {
    flex: 1;
    border: 2px solid red;
    margin-right: 20px;
    height: 60vh;
    min-width: 400px;
}

.flex-child-info > ul {
    list-style-type: none;
    line-height: 200%;
}



.statistics {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#dashboard h2, #statistics h2, #about h2, #contact h2 {
    color: #e25822;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    font-family: 'Righteous', cursive;
}

#statistics .chart-wrapper {
    max-width: 1000px;
    max-height: 500px;
    margin: 2em auto;
}

#about, #contact {
    margin: 4em 0;
=======
#rss {
    margin: auto
}


#graph {
    margin-top: 4em;
}

#graph h2, #about h2, #contact h2, #tilastot h2  {
    color: #e25822;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    font-family: 'Righteous', cursive;
}

.graph-charts-wrap {
    flex-wrap: wrap;
    display: flex;
}

#graph .chart-wrapper {
    min-width: 700px;
    min-height: 400px;
    margin: 2em auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 700px) {
    #graph .chart-wrapper {
        min-width: 30%;
        min-height: 30%;
    }
}

#about, #contact {
    margin: 4em
>>>>>>> 74bda72eb2a9421a161b6e450ca5e4761f4d9b3f
}

#about .about-desctiption, #contact .contact-desctiption {
    text-align: center;
    color: #10316b;
<<<<<<< HEAD
    width: 50%;
=======
    width: 80%;
>>>>>>> 74bda72eb2a9421a161b6e450ca5e4761f4d9b3f
    margin: 1em auto;
}

#about #tartuntaVideo {
    width: 100%;
    text-align: center;
    min-height: 50vh;
<<<<<<< HEAD
=======
    margin: 1em auto;
>>>>>>> 74bda72eb2a9421a161b6e450ca5e4761f4d9b3f
}

.about-figures-container {
    margin-top: 2em;
}

.about-figures-container ul {
    display: flex;
}

.about-figures-container ul li {
    list-style-type: none;
<<<<<<< HEAD
}

.about-figure {
    text-align: center;
}

.about-figure figcaption h3 {
    font-family: 'Righteous', cursive;
    color: #10316b;
    font-weight: 700;
    font-size: 1.5em;
}

.about-figure figcaption p {
    color: #222222;
    line-height: 1.5em;
}

@media only screen and (min-width: 350px) {
    .about-figures-container ul {
        flex-direction: column;
    }
}
.chart-wrapper {
    max-width: 1000px;
    max-height: 500px;
    min-width: 700px;
    min-height: 400px;
    margin: 2em auto;
=======
    width: 100%;
>>>>>>> 74bda72eb2a9421a161b6e450ca5e4761f4d9b3f
}

.about-figure {
    text-align: center;
}

.about-figure figcaption h3 {
    font-family: 'Righteous', cursive;
    color: #10316b;
    font-weight: 700;
    font-size: 1.5em;
}

.about-figure figcaption p {
    color: #222222;
    line-height: 1.5em;
}

@media only screen and (min-width: 350px) {
    .about-figures-container ul {
        flex-direction: column;
    }
}

@media only screen and (min-width: 900px) {
    .about-figures-container ul {
        flex-direction: row;
    }
}

.contact-figures-container {
    margin: 4em 0;
}

.contact-figures-container ul {
    display: flex;
    margin: 0 auto;
}

<<<<<<< HEAD
@media only screen and (min-width: 900px) {
    .about-figures-container ul {
        flex-direction: row;
    }
}

.contact-figures-container {
    margin: 4em 0;
}

.contact-figures-container ul {
    display: flex;
    margin: 0 auto;
}

.contact-figures-container ul li {
    list-style-type: none;
    width: 33%;
}

@media only screen and (min-width: 350px) {
    .contact-figures-container ul {
        flex-direction: column;
    }

    .contact-figures-container ul li {
        list-style-type: none;
        width: 100%;
    }
}

@media only screen and (min-width: 900px) {
    .contact-figures-container ul {
        flex-direction: row;
    }
}

.contact-figure {
    text-align: center;
}

.contact-figure figcaption h3 {
    font-family: 'Righteous', cursive;
    color: #10316b;
    font-weight: 700;
    font-size: 1.5em;
}

.contact-figure figcaption p {
    color: #222222;
    line-height: 1.5em;
}

footer {
    min-height: 170px;
    background-color: #10316b;
    display: flex;
    justify-content: space-around;
}

.footer-social {
    display: flex;
    flex-direction: row;
    margin: auto;
    list-style: none;    
}

.footer-social li {
    margin: 0em 2em 0em 0em;
}

.footer-social-icon {
    text-decoration: none;
    color: #222222;
} 

.footer-social-icon:hover, .footer-social-icon:focus {
    color: #e25822;
}

.footer-copyright {
    margin: auto;
    color: #e25822;
}

#navfooter {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

#navfooter > li {
    margin-left: 1em
}

#navfooter > li:not(:first-child) {
    margin-top: 1em
}

#navfooter > li > a {
    text-decoration: none;
    color: #ececeb;
}
=======
.contact-figures-container ul li {
    list-style-type: none;
    width: 33%;
}

@media only screen and (min-width: 350px) {
    .contact-figures-container ul {
        flex-direction: column;
    }

    .contact-figures-container ul li {
        list-style-type: none;
        width: 100%;
    }
}

@media only screen and (min-width: 900px) {
    .contact-figures-container ul {
        flex-direction: row;
    }
}

.contact-figure {
    text-align: center;
}

.contact-figure figcaption h3 {
    font-family: 'Righteous', cursive;
    color: #10316b;
    font-weight: 700;
    font-size: 1.5em;
}

.contact-figure figcaption p {
    color: #222222;
    line-height: 1.5em;
}

footer {
    min-height: 200px;
    background-color: #10316b;
    display: flex;
    justify-content: space-around;
}

.footer-social {
    display: flex;
    flex-direction: row;
    margin: auto;
    list-style: none;    
}

.footer-social li {
    margin: 0em 2em 0em 0em;
}

.footer-social-icon {
    text-decoration: none;
    color: #222222;
} 

.footer-social-icon:hover, .footer-social-icon:focus {
    color: #e25822;
}

.footer-copyright {
    margin: auto;
    color: #e25822;
}

#navfooter {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

#navfooter > li {
    margin-left: 1em
}

#navfooter > li:not(:first-child) {
    margin-top: 1em
}

#navfooter > li > a {
    text-decoration: none;
    color: #ececeb;
}

#navfooter > li > a:hover {
    color: #e25822;
}
>>>>>>> 74bda72eb2a9421a161b6e450ca5e4761f4d9b3f
