@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    margin: 0;
    height: 0;
    font-family: "Roboto", "sans-serif";
}

header {
    display: flex;
    height: 75px;
    width: 100%;
    justify-content: space-around;
    background-color: #10316b;
}

header > h1 {
    margin: auto 0;
    font-family: 'Righteous', cursive;
}

header > h1 > a {
    text-decoration: none;
    color: #e25822;
}

#nav {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 130px;
}

#nav > li {
    list-style: none;
    margin: auto 3em;
}
#flags {
    display: flex;
    flex-direction: row;
}

#flags > li {
    list-style: none;
    margin: 5px;
}

#nav > li > a {
    text-decoration: none;
    color: #ececeb;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.container {
    width: 50%;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#map {
    width: 30%;
    height: 80vh;
}

#info-text{
    color: #e25822;
    text-align: center;
    width: 30%;
    float: left;

}
#rss {
    float: right;
    position: relative;
    right: 100px;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


#dashboard {

}
#dashboard.h2 {

}

.statistics {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    float: left;
}

.chart-wrapper {
    max-width: 1000px;
    max-height: 500px;
    margin: 2em auto;
}

.contact, .about{
    list-style-type: none;
}

/* Borders for maps color declaration */

/*.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
/*





