@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
}

header {
    display: flex;
    height: 75px;
    width: 100%;
    justify-content: space-around;
    background-color: #10316b;
}

header > h1 {
    margin: auto 0;
    font-family: 'Righteous', cursive;
}

header > h1 > a {
    text-decoration: none;
    color: #e25822;
    POSITION: relative;
    left: 40px;
}

#nav {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 130px;
}

#nav > li {
    list-style: none;
    margin: auto 3em;
}
#flags {
    display: flex;
    flex-direction: row;
}

#flags > li {
    list-style: none;
    margin: 5px;
}

#nav > li > a {
    text-decoration: none;
    color: #ececeb;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.container {
    width: 50%;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}


.flex-container {
    display: flex;
}

.flex-child-info {
    flex: 1;
    border: 2px solid red;
    list-style-type: none;
    background: #ececeb;
    color: #e25822;
    text-align: left;
    font-size: 22px;
    margin: 3px;
    min-width: 400px;
}

.flex-child-map {
    flex: 1;
    border: 2px solid red;
    margin-right: 20px;
    height: 60vh;
    min-width: 400px;
}

.flex-child-info > ul {
    list-style-type: none;
    line-height: 200%;
}



.statistics {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#dashboard h2, #statistics h2, #about h2, #contact h2 {
    color: #e25822;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    font-family: 'Righteous', cursive;
}

#statistics .chart-wrapper {
    max-width: 1000px;
    max-height: 500px;
    margin: 2em auto;
}

#about, #contact {
    margin: 4em 0;
}

#about .about-desctiption, #contact .contact-desctiption {
    text-align: center;
    color: #10316b;
    width: 50%;
    margin: 1em auto;
}

#about #tartuntaVideo {
    width: 100%;
    text-align: center;
    min-height: 50vh;
}

.about-figures-container {
    margin-top: 2em;
}

.about-figures-container ul {
    display: flex;
}

.about-figures-container ul li {
    list-style-type: none;
}

.about-figure {
    text-align: center;
}

.about-figure figcaption h3 {
    font-family: 'Righteous', cursive;
    color: #10316b;
    font-weight: 700;
    font-size: 1.5em;
}

.about-figure figcaption p {
    color: #222222;
    line-height: 1.5em;
}

@media only screen and (min-width: 350px) {
    .about-figures-container ul {
        flex-direction: column;
    }
}
.chart-wrapper {
    max-width: 1000px;
    max-height: 500px;
    min-width: 700px;
    min-height: 400px;
    margin: 2em auto;
}
#statistics {
    flex-wrap: wrap;
    display: flex;
}

@media only screen and (min-width: 900px) {
    .about-figures-container ul {
        flex-direction: row;
    }
}

.contact-figures-container {
    margin: 4em 0;
}

.contact-figures-container ul {
    display: flex;
    margin: 0 auto;
}

.contact-figures-container ul li {
    list-style-type: none;
    width: 33%;
}

@media only screen and (min-width: 350px) {
    .contact-figures-container ul {
        flex-direction: column;
    }

    .contact-figures-container ul li {
        list-style-type: none;
        width: 100%;
    }
}

@media only screen and (min-width: 900px) {
    .contact-figures-container ul {
        flex-direction: row;
    }
}

.contact-figure {
    text-align: center;
}

.contact-figure figcaption h3 {
    font-family: 'Righteous', cursive;
    color: #10316b;
    font-weight: 700;
    font-size: 1.5em;
}

.contact-figure figcaption p {
    color: #222222;
    line-height: 1.5em;
}

footer {
    min-height: 170px;
    background-color: #10316b;
    display: flex;
    justify-content: space-around;
}

.footer-social {
    display: flex;
    flex-direction: row;
    margin: auto;
    list-style: none;    
}

.footer-social li {
    margin: 0em 2em 0em 0em;
}

.footer-social-icon {
    text-decoration: none;
    color: #222222;
} 

.footer-social-icon:hover, .footer-social-icon:focus {
    color: #e25822;
}

.footer-copyright {
    margin: auto;
    color: #e25822;
}

#navfooter {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

#navfooter > li {
    margin-left: 1em
}

#navfooter > li:not(:first-child) {
    margin-top: 1em
}

#navfooter > li > a {
    text-decoration: none;
    color: #ececeb;
}